
body {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
main {
    margin: auto;
    flex: 0 1 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formTitle {
    font-size: 32px;
    font-family: Arial;
    width: 100%;
    text-align: center;
}
.fieldHolder {
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.formLabel {
    display: inline-block;
    width: 120px;
    font-size: 24px;
    font-family: 'Arial';

}
.formField {
    width: 50%;
    min-width: 300px;
    padding: 8px;
    font-size: 18px;
}
button {
    padding: 10px;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
}
button > a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.navbar {
    display:contents;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #36454F;
    width: 100%;
  }

.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }

.navbar li a:hover {
    background-color: #A9A9A9;
  }

  .active {
    background-color: #6082B6;
  }